* {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    box-sizing: border-box;
    text-shadow: #000 1px 1px;
    font-family: Helvetica;
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("src/assets/lua-lobo-pixabay1-970x550.jpg");
    background-size: cover;
    background-position: 100;
}